@font-face {
  font-family: 'Greycliff-Medium';
  src: url('../public/fonts/Greycliff-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff-Bold';
  src: url('../public/fonts/Greycliff-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Horizon';
  src: url('../public/fonts/Horizon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}